@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
    background-color: antiquewhite;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Righteous";
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.btn {
    font-size: 22px;
    text-align: center;
    padding: 1rem 0; 
    width: 15rem;
    margin: 1rem;
    border-radius: 5px;
    color: antiquewhite;
    background: linear-gradient(90deg, rgba(164,51,125,0.8271276595744681) 44%, rgba(255,0,142,0.8111702127659575) 78%);
}

.btn:hover{
    cursor: pointer;
    box-shadow: 10px 3px 37px 7px rgba(232,6,100,0.54);
    transition: transform 150ms;
    transform: scale(1);
}

.btn[:disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}